In [1]:
from main import parse_timetable

In [2]:
"""
CSV Example
"""
grouped_df, df = parse_timetable(
    file_path="pdfs/z1.pdf",
    output_path="csv/z1.csv",
    format="csv",
)

display(grouped_df)
display(df)

,code,commonSubstring,group
0,0408,World Literature,"[{'type': 'Cambridge IGCSE', 'subject': 'World..."
1,0409,American History,"[{'type': 'Cambridge IGCSE', 'subject': 'Ameri..."
2,0410,Music,"[{'type': 'Cambridge IGCSE', 'subject': 'Music..."
3,0411,Drama,"[{'type': 'Cambridge IGCSE', 'subject': 'Drama..."
4,0413,Physical Education,"[{'type': 'Cambridge IGCSE', 'subject': 'Physi..."
...,...,...,...
86,9715,Chinese,"[{'type': 'Cambridge International A Level', '..."
87,9716,French,"[{'type': 'Cambridge International A Level', '..."
88,9717,German,"[{'type': 'Cambridge International A Level', '..."
89,9719,Spanish,"[{'type': 'Cambridge International A Level', '..."
90,9990,Psychology,"[{'type': 'Cambridge International AS Level', ..."

,type,subject,code,duration,date,session
0,Cambridge IGCSE,Accounting (Multiple Choice),0452/11,1h 15m,Wednesday 08 November 2023,AM
1,Cambridge IGCSE,Accounting,0452/21,1h 45m,Monday 09 October 2023,AM
2,Cambridge IGCSE,Additional Mathematics,0606/11,2h,Friday 06 October 2023,AM
3,Cambridge IGCSE,Additional Mathematics,0606/21,2h,Monday 09 October 2023,AM
4,Cambridge IGCSE,American History (US),0409/01,2h,Tuesday 03 October 2023,AM
...,...,...,...,...,...,...
262,Cambridge International A Level,Travel & Tourism,9395/41,1h 30m,Tuesday 17 October 2023,AM
263,Cambridge International A Level,Urdu,9676/02,1h 45m,Friday 27 October 2023,AM
264,Cambridge International A Level,Urdu,9676/03,1h 30m,Friday 06 October 2023,AM
265,Cambridge International A Level,Urdu,9676/04,2h 30m,Tuesday 03 October 2023,AM
266,Cambridge International A Level,Urdu,9676/05,45m,Friday 27 October 2023,AM

In [3]:
"""
JSON Example
"""
grouped_df, df = parse_timetable(
    file_path="pdfs/z1.pdf",
    output_path="json/z1.json",
    format="json",
)

display(grouped_df)
display(df)

,code,commonSubstring,group
0,0408,World Literature,"[{'type': 'Cambridge IGCSE', 'subject': 'World..."
1,0409,American History,"[{'type': 'Cambridge IGCSE', 'subject': 'Ameri..."
2,0410,Music,"[{'type': 'Cambridge IGCSE', 'subject': 'Music..."
3,0411,Drama,"[{'type': 'Cambridge IGCSE', 'subject': 'Drama..."
4,0413,Physical Education,"[{'type': 'Cambridge IGCSE', 'subject': 'Physi..."
...,...,...,...
86,9715,Chinese,"[{'type': 'Cambridge International A Level', '..."
87,9716,French,"[{'type': 'Cambridge International A Level', '..."
88,9717,German,"[{'type': 'Cambridge International A Level', '..."
89,9719,Spanish,"[{'type': 'Cambridge International A Level', '..."
90,9990,Psychology,"[{'type': 'Cambridge International AS Level', ..."

,type,subject,code,duration,date,session
0,Cambridge IGCSE,Accounting (Multiple Choice),0452/11,1h 15m,Wednesday 08 November 2023,AM
1,Cambridge IGCSE,Accounting,0452/21,1h 45m,Monday 09 October 2023,AM
2,Cambridge IGCSE,Additional Mathematics,0606/11,2h,Friday 06 October 2023,AM
3,Cambridge IGCSE,Additional Mathematics,0606/21,2h,Monday 09 October 2023,AM
4,Cambridge IGCSE,American History (US),0409/01,2h,Tuesday 03 October 2023,AM
...,...,...,...,...,...,...
262,Cambridge International A Level,Travel & Tourism,9395/41,1h 30m,Tuesday 17 October 2023,AM
263,Cambridge International A Level,Urdu,9676/02,1h 45m,Friday 27 October 2023,AM
264,Cambridge International A Level,Urdu,9676/03,1h 30m,Friday 06 October 2023,AM
265,Cambridge International A Level,Urdu,9676/04,2h 30m,Tuesday 03 October 2023,AM
266,Cambridge International A Level,Urdu,9676/05,45m,Friday 27 October 2023,AM