In [64]:
import PyPDF2
import re
import pandas as pd
import json


def parse_timetable(file_path, output_path, format):
    # read your file
    pdf = PyPDF2.PdfReader(open(file_path, "rb"))

    # strings to clenup
    replace = [
        "Cambridge Final Exam Timetable",
        "Syllabus/Component Code Duration Date Session",
        "IG Cambridge IGCSE        ",
        "Sessions:  AM morning        PM afternoon  ",
        "Sessions:  AM morning        PM afternoon        \nIG Cambridge IGCSE       \nAS Cambridge International AS Level    AL Cambridge International A Level    \nCambridge Final Exam Timetable ",
        "Syllabus view (A–Z)",
        "Sessions:  AM morning        PM afternoon        \nIG Cambridge IGCSE    \nAS Cambridge International AS Level    AL Cambridge International A Level    \nCambridge Final Exam Timetable ",
        "AS Cambridge International AS Level    AL Cambridge International A Level    ",
        "Cambridge Final Exam Timetable ",
        "Sessions:  AM morning        PM afternoon        EV evening\nIG Cambridge IGCSE    OL Cambridge O Level    \nAS Cambridge International AS Level    AL Cambridge International A Level    \nCambridge Final Exam Timetable ",
        "Cambridge IGCSE Continued",
    ]

    data = []

    syllabus_found_count = 0

    for i in range(len(pdf.pages)):
        text = pdf.pages[i].extract_text()

        if "Syllabus view (A–Z)" in text:
            syllabus_found_count += 1

        if syllabus_found_count < 2:
            continue

        # ? replace all "November" that are not preceded by a number with ""
        text = re.sub(r"(?<!\d) November", "", text)
        text = re.sub(r"(?<!\d) June", "", text)
        text = re.sub(r"(?<!\d) March", "", text)
        for replace_line in replace:
            text = text.replace(replace_line, "")

        text = (
            text.replace("\n2024", "2024")
            .replace("AM", " AM\n")
            .replace("PM", " PM\n")
            .replace("EV", " EV\n")
        )
        temp = list(filter(None, text[:-3].splitlines()))

        # temp = [x for x in temp if x != 'IG Cambridge IGCSE   ']

        text = []

        def dontJoin(x):
            return (
                x.split()[0] == "Cambridge"
                or len(x) == 1
                or x[-2:] in ["AM", "PM", "EV"]
            )

        flag = False
        for i in range(len(temp)):
            if len(temp[i].strip()) == 0:
                continue
            if dontJoin(temp[i]):
                if flag or len(temp[i]) == 1 or temp[i][-9:] == "Continued":
                    flag = False
                    continue
                text.append(temp[i])
            else:
                text.append(temp[i] + " " + temp[i + 1])
                flag = True
                i += 1

        data.extend(text)

    data_string = "\n".join(data)

    # titles = re.findall(r"Cambridge[a-zA-Z ]*\n", data_string)

    whitelist = [
        "Cambridge IGCSE",
        "Cambridge International AS Level",
        "Cambridge International A Level",
        "Cambridge O Level",
    ]

    titles = re.findall("|".join(whitelist), data_string)

    data = re.split("|".join(titles), data_string)[1:]

    data = [
        [
            [
                titles[i].strip(),
                x,
                *re.findall(
                    r"(.*)[ ]?([0-9]{4}\/[0-9]{2}) ([0-9]?h?[ ]?[0-9]?[0-9]?m?)[ ]*(.*) (AM|PM|EV)",
                    x,
                ),
            ]
            for x in sorted(d.splitlines())
        ]
        for i, d in enumerate(data)
    ]

    # flatten data
    def flatten(l):
        return [item for sublist in l for item in sublist]

    flat_data = flatten(data)

    flat_data = [[i[0], *i[2]] for i in flat_data if len(i) == 3]

    # for the last string of each sublist in flat_data, replace AM with AM and PM with PM
    # flat_data = [
    #     [*d[:-1], d[-1]]
    #     for d in flat_data
    # ]

    # for each string in flat_data, replace multiple spaces with a single space
    flat_data = [[re.sub(r" +", " ", x) for x in d] for d in flat_data]

    # remove whitespace from the start and end of each string in flat_data
    flat_data = [[x.strip() for x in d] for d in flat_data]

    # convert the data_map to a dataframe
    df = pd.DataFrame(flat_data)
    df.columns = ["type", "subject", "code", "duration", "date", "session"]

    # replace the leading digits in subject with empty string
    df["subject"] = df["subject"].str.replace(r"^[\d ]+", "", regex=True)

    if format == "json":
        df.to_json(output_path, orient="records")
    else:
        df.to_csv(output_path, index=False)

    return df

In [ ]:
start_page_list = [9, 9, 10, 9, 9, 9]
for idx in range(1, 7):
    print(f"Parsing zone {idx}...")
    df = parse_timetable(
        f"pdfs/z{idx}.pdf", f"csv/zone{idx}.csv", start_page_list[idx - 1], "csv"
    )

    grouped_data = df.groupby(df["code"].str[:4])

    # make a list of the grouped data
    grouped_data_list = [grouped_data.get_group(x) for x in grouped_data.groups]

    grouped_data = []

    for group in grouped_data_list:
        # get the common substring of the subjects
        # get a list of the subjects in the group
        subjects = group["subject"].tolist()

        # get the common substring of the subjects
        commonSubstring = ""

        # get the shortest subject
        shortestSubject = min(subjects, key=len)

        # iterate through the characters of the shortest subject
        for i in range(len(shortestSubject)):
            # get the current character
            currentChar = shortestSubject[i]
            # check if the current character is the same in all the subjects
            if all([subject[i] == currentChar for subject in subjects]) and (
                currentChar.isalpha() or currentChar == " "
            ):
                # add the current character to the common substring
                commonSubstring += currentChar
            else:
                # break the loop if the current character is not the same in all the subjects
                break

        # convert the group to a dictionary
        group = group.sort_values(by=["code"]).to_dict("records")
        # add the group to the output data
        grouped_data.append(
            {
                "code": group[0]["code"][:4],
                "commonSubstring": commonSubstring.strip(),
                "group": group,
            }
        )

    # save the output data to a json file
    json.dump(grouped_data, open(f"json/zone{idx}.json", "w"), indent=2)

In [66]:
df = parse_timetable(f"pdfs/z1.pdf", f"csv/z1.csv", "csv")

df

,type,subject,code,duration,date,session
0,Cambridge IGCSE,Accounting (Multiple Choice),0452/11,1h 15m,Wednesday 08 November 2023,AM
1,Cambridge IGCSE,Accounting,0452/21,1h 45m,Monday 09 October 2023,AM
2,Cambridge IGCSE,Additional Mathematics,0606/11,2h,Friday 06 October 2023,AM
3,Cambridge IGCSE,Additional Mathematics,0606/21,2h,Monday 09 October 2023,AM
4,Cambridge IGCSE,American History (US),0409/01,2h,Tuesday 03 October 2023,AM
...,...,...,...,...,...,...
262,Cambridge International A Level,Travel & Tourism,9395/41,1h 30m,Tuesday 17 October 2023,AM
263,Cambridge International A Level,Urdu,9676/02,1h 45m,Friday 27 October 2023,AM
264,Cambridge International A Level,Urdu,9676/03,1h 30m,Friday 06 October 2023,AM
265,Cambridge International A Level,Urdu,9676/04,2h 30m,Tuesday 03 October 2023,AM
266,Cambridge International A Level,Urdu,9676/05,45m,Friday 27 October 2023,AM